$first-Color:#2980b9;
$second-Color:#fff;

.container{
    max-width: 920px;
    margin: 0 auto;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

